<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>
        <div class="content-body">
            <div class="hero">
                <h1>This is part of the main section</h1>
                <div class="hero-copy">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ipsa, molestias rerum iste accusamus
                        et
                        fugiat minima rem cumque repellat necessitatibus reprehenderit eligendi distinctio quam? Dicta
                        eius
                        quo tempore, sed deleniti quaerat labore assumenda eum voluptate itaque! Id iusto omnis vitae,
                        quisquam mollitia non sit labore repudiandae assumenda totam dolorem tenetur ullam eaque aut
                        unde ut
                        nam repellat. Voluptas est quisquam autem. Minus velit sed aliquam tempora in eligendi quidem
                        recusandae, quos aspernatur adipisci esse, quasi reiciendis corporis! Numquam ea maiores soluta
                        veritatis cum itaque, reprehenderit unde corrupti dolore voluptates sequi id sit molestiae
                        facere,
                        maxime quisquam doloribus! Accusantium, suscipit.</p>
                </div>
            </div>

            <div class="post-list">
                <p>Add a blog entry</p>
                <%- include("partials/card.ejs") %>
            </div>
        </div>

        </div>
        <%- include("partials/footer.ejs") %>